@charset 'utf-8';
@use '@/styles/mixin' as *;

.logoWrapper {
	position: absolute;
	width: 300px;
	aspect-ratio: 1/1;
	margin-inline: auto;
	@include mq-max(md) {
		width: 250px;
	}
	@include mq-max(sm) {
		width: 190px;
	}
}

.logo {
	padding: 4px;
	border: 4px solid hsl(0, 0%, 8%);
	backdrop-filter: blur(3px);
	border-radius: 4px;

	img {
		width: 100%;
		padding-block: 8%;
		border-radius: 4px;
		aspect-ratio: 1/1;
	}
}
