@charset 'utf-8';
@use '../../styles/mixin' as *;

footer {
	width: 100%;
	height: fit-content;
	padding-block: 1rem;
	background: var(--mainColorDark);
	color: var(--textColorLight);

	p {
		width: fit-content;
		margin-inline: auto;
		font-size: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);

		a {
			margin-inline: 0.5rem;
			color: var(--textColorLight);
			text-decoration: none;

			&:hover {
				color: rgb(169, 255, 255);
			}
		}
	}
}
