@charset 'utf-8';
@use '@/styles/mixin' as *;

.container {
	display: grid;
	width: 100%;
	min-height: 100dvh;
	color: var(--textColorDark);
	place-items: center;
	@include responsive-margin-block-md(8rem, 'end');
}

.wrapper {
	position: relative;
	width: 100%;
	height: fit-content;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: -1.5rem;
		width: calc(100% + 3rem);
		height: 85%;
		background-color: var(--accentColorLight);
		background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');
	}

	@include mq-max(md) {
		&::before {
			content: '';
			display: none;
		}
	}
}

.imageContainer {
	width: min(100%, 1080px);
	margin-inline: auto;
	cursor: pointer;

	@include mq-max(lg) {
		bottom: 0%;
		cursor: auto;
	}
}

.flex {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	column-gap: 2.5rem;

	@include mq-max(lg) {
		column-gap: 2rem;
	}

	@include mq-max(md) {
		flex-direction: column;
		row-gap: 2rem;
		column-gap: 0rem;
	}

	@include mq-max(sm) {
		row-gap: 1rem;
	}
}

.figure {
	position: relative;
	flex-basis: 600px;
	flex-shrink: 0;
	overflow: hidden;
	border-radius: 4px;
	aspect-ratio: 4/3;
	cursor: pointer;

	@include mq-max(lg) {
		flex-basis: 500px;
	}

	@include mq-max(md) {
		flex-basis: 100%;
		width: 100%;
		margin-inline: auto;
	}

	picture {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom;
		}
	}

	.show {
		position: absolute;
		top: 0;
	}

	.hidden {
		position: absolute;
		top: 0;
		transition: opacity 0.4s ease 0.1s;
		opacity: 0;
	}

	@media (hover: hover) {
		&:hover > .hidden {
			opacity: 1;
		}
	}

	@media (hover: none) {
		&:active > .hidden {
			opacity: 1;
		}
	}
}
